### Composer ###
composer.phar
/vendor/
composer.lock
### Phpstorm ###
/.idea/*
!/.idea/runConfigurations
### TmpPhp ###
tmp.php
### Mac OS ###
.DS_Store
**/.DS_Store
### PHP Unit ###
.phpunit.result.cache
**/.phpunit.result.cache